# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [2]:
# Import libraries
import numpy as np
import pandas as pd

In [3]:
# Importing the dataset
pokemon = pd.read_csv("pokemon.csv")

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [15]:
Hypothesis_Total = pokemon[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum(axis=1)

comparison = pd.concat([Hypothesis_Total, pokemon['Total']], axis=1)
comparison.columns = ['Hypothesis_Total', 'Total']

all_match = comparison['Hypothesis_Total'].equals(comparison['Total'])

display(comparison)
print("Does the hypothesis total match the original Total for all Pokemon? ", all_match)

     Hypothesis_Total  Total
0                 318    318
1                 405    405
2                 525    525
3                 625    625
4                 309    309
..                ...    ...
795               600    600
796               700    700
797               600    600
798               680    680
799               600    600

[800 rows x 2 columns]

Does the hypothesis total match the original Total for all Pokemon?  True

In [ ]:
#Second option:

pokemon["Hypothesis Total"] = pokemon["Total"] == (pokemon["HP"]+pokemon["Attack"]+pokemon["Defense"]+pokemon["Sp. Atk"]+pokemon["Sp. Def"]+pokemon["Speed"])

pokemon["Hypothesis Total"].value_counts()

Problem Solving Iteration 2
Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

Which pokemon type is most likely to have the highest Total value?
In the updated problem statement, we assume there is a certain relationship between the Total and the pokemon type. But we have two type fields (Type 1 and Type 2) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed.

In addition, keep in mind that Type 1 always has a value but Type 2 is sometimes empty (having the NaN value). Also, the pokemon type we choose may be either in Type 1 or Type 2.

Now our expectation is:

Type 1 and Type 2 string variables need to be converted to numerical variables in order to identify the relationship between Total and the pokemon type.
The information we need to collect is:

How to convert two string variables to numerical?
Let's address the first question first. You can use a method called One Hot Encoding which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses 1 and 0 to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in this article. You will formally learn it in Module 3.

For instance, if a pokemon has Type 1 as Poison and Type 2 as Fire, then its Poison and Fire fields are 1 whereas all other fields are 0. If a pokemon has Type 1 as Water and Type 2 as NaN, then its Water field is 1 whereas all other fields are 0.

In the next cell, use One Hot Encoding to encode Type 1 and Type 2. Use the pokemon type values as the names of the numerical fields you create.
The new numerical variables you create should look like below:

One Hot Encoding

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Obtener las columnas Type 1 y Type 2 del DataFrame de los datos de los Pokémon
pokemon_types1 = pokemon[['Type 1']]
pokemon_types2 = pokemon[['Type 2']]

# Crear una instancia de OneHotEncoder
encoder1 = OneHotEncoder()
encoder2 = OneHotEncoder()

# Ajustar y transformar los datos de las columnas Type 1 y Type 2 utilizando OneHotEncoder
encoded_types1 = encoder1.fit_transform(pokemon_types1)
encoded_types2 = encoder2.fit_transform(pokemon_types2)

# Obtener los nombres de las nuevas columnas generadas por OneHotEncoder
column_names1 = encoder1.get_feature_names_out(pokemon_types1)
column_names2 = encoder2.get_feature_names_out(pokemon_types2)

# Crear un DataFrame a partir de la matriz codificada
onehot_encoded1 = pd.DataFrame(encoded_types1.toarray(), columns=column_names1)
onehot_encoded2 = pd.DataFrame(encoded_types2.toarray(), columns=column_names2)

# Mostrar el DataFrame codificado
onehot_encoded3 = onehot_encoded1 + onehot_encoded2
onehot_encoded3

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Obtener las columnas Type 1 y Type 2 del DataFrame de los datos de los Pokémon
pokemon_types1 = pokemon[['Type 1']]
pokemon_types2 = pokemon[['Type 2']]

# Crear una instancia de OneHotEncoder
encoder1 = OneHotEncoder()
encoder2 = OneHotEncoder()

# Ajustar y transformar los datos de las columnas Type 1 y Type 2 utilizando OneHotEncoder
encoded_types1 = encoder1.fit_transform(pokemon_types1)
encoded_types2 = encoder2.fit_transform(pokemon_types2)

# Obtener los nombres de las nuevas columnas generadas por OneHotEncoder
column_names1 = encoder1.get_feature_names_out(pokemon_types1)
column_names2 = encoder2.get_feature_names_out(pokemon_types2)

# Crear un DataFrame a partir de la matriz codificada
onehot_encoded1 = pd.DataFrame(encoded_types1.toarray(), columns=column_names1)
onehot_encoded2 = pd.DataFrame(encoded_types2.toarray(), columns=column_names2)

# Mostrar el DataFrame codificado
onehot_encoded3 = onehot_encoded1 + onehot_encoded2
onehot_encoded3

In [ ]:
#X_cat = pd.concat([pokemon['Type 1'], pokemon['Type 2']]).unique()
#display(X_cat)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
type1 = pokemon[['Type 1']]
print(type1)
encoder = OneHotEncoder().fit(type1)
encoded = encoder.transform(type1).toarray()
cols = encoder.get_feature_names_out()
type1_encoded = pd.DataFrame(encoded,columns=cols)
type1_encoded

In [ ]:
type1 = pokemon['Type 1'].unique()
type2 = pokemon['Type 2'].unique()

X_cat = list(set(type1) | set(type2))
print(X_cat)

In [ ]:
from numpy import array
from numpy import argmax
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [ ]:
X_cat = list(set(type1) | set(type2))

values = array(X_cat)
print(values)

label_encoder = LabelEncoder()
interger_encoded = label_encoder.fit_transform(values)
print(interger_encoded)

onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = interger_encoded.reshape(len(interger_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)

inverted = label_encoder.inverse_transform([argmax(onehot_encoded[0, :])])
display(inverted)

In [ ]:

import numpy as np

# Datos de ejemplo
array = np.array(['Normal', 'Grass', 'Ice', 'Fairy', 'Dragon', 'Dark', 'Psychic', 'Bug', 'Flying',
 'Fire', 'Water', 'Rock', 'Ground', 'Poison', 'Fighting', 'Electric',
 'Ghost', 'Steel'])

# Reshape del array a una matriz de una columna
reshaped_array = np.reshape(array, (-1, 1))

# Mostrar el array reshapeado
print(reshaped_array)

In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Obtener las columnas Type 1 y Type 2 del DataFrame de los datos de los Pokémon
pokemon_types1 = pokemon[['Type 1']]
pokemon_types2 = pokemon[['Type 2']]

# Crear una instancia de OneHotEncoder
encoder = OneHotEncoder()


# Ajustar y transformar los datos de las columnas Type 1 y Type 2 utilizando OneHotEncoder
encoded_types1 = encoder.fit_transform(pokemon_types1)
encoded_types2 = encoder.fit_transform(pokemon_types2)

# Obtener los nombres de las nuevas columnas generadas por OneHotEncoder
column_names1 = encoder.get_feature_names_out(pokemon_types1)
column_names2 = encoder.get_feature_names_out(pokemon_types2)

# Crear un DataFrame a partir de la matriz codificada
onehot_encoded1 = pd.DataFrame(encoded_types1.toarray(), columns=column_names1)
onehot_encoded2 = pd.DataFrame(encoded_types2.toarray(), columns=column_names2)

# Mostrar el DataFrame codificado
onehot_encoded3 = onehot_encoded1 + onehot_encoded2
onehot_encoded3

ValueError: input_features is not equal to feature_names_in_

In [ ]:
from sklearn.preprocessing import OneHotEncoder
type1 = pokemon[['Type 1']]
print(type1)
encoder = OneHotEncoder().fit(type1)
encoded = encoder.transform(type1).toarray()
cols = encoder.get_feature_names()
type1_encoded = pd.DataFrame(encoded,columns=cols)
type1_encoded

In [20]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Obtener las columnas Type 1 y Type 2 del DataFrame de los datos de los Pokémon
pokemon_types1 = pokemon[['Type 1']]
pokemon_types2 = pokemon[['Type 2']]

# Crear una instancia de OneHotEncoder
encoder1 = OneHotEncoder().fit(pokemon_types1)
encoder2 = OneHotEncoder().fit(pokemon_types2)
#encoder2 = OneHotEncoder()

# Ajustar y transformar los datos de las columnas Type 1 y Type 2 utilizando OneHotEncoder
encoded_types1 = encoder1.transform(pokemon_types1).toarray()
encoded_types2 = encoder2.transform(pokemon_types2).toarray()
#encoded_types2 = encoder2.fit_transform(pokemon_types2)

# Obtener los nombres de las nuevas columnas generadas por OneHotEncoder
column_names1 = encoder1.get_feature_names_out()
column_names2 = encoder2.get_feature_names_out()
#column_names2 = encoder2.get_feature_names_out(pokemon_types2)

# Crear un DataFrame a partir de la matriz codificada
onehot_encoded1 = pd.DataFrame(encoded_types1, columns=column_names1)
onehot_encoded2 = pd.DataFrame(encoded_types2, columns=column_names2)
#onehot_encoded2 = pd.DataFrame(encoded_types2.toarray(), columns=column_names2)

One_hot_encoded=onehot_encoded1.add(onehot_encoded2,fill_value=0)     
One_hot_encoded.head(430)
One_hot_encoded = One_hot_encoded.drop(['Type 2_nan'],axis=1)
One_hot_encoded
# Mostrar el DataFrame codificado
#onehot_encoded3 = onehot_encoded1 + onehot_encoded2
#onehot_encoded3
#onehot_encoded1

,Type 1_Bug,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
799,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
X_cat = list(set(type1) | set(type2))

encoder = OneHotEncoder()

encoded_types1 = encoder.fit_transform(X_cat)

column_names1 = encoder.get_feature_names_out(X_cat)

onehot_encoded1 = pd.DataFrame(encoded_types1.toarray(), columns=column_names1)

onehot_encoded1

In [ ]:
import pandas as pd


serie = pd.Series(['Normal', 'Grass', 'Ice', 'Fairy', 'Dragon', 'Dark', 'Psychic', 'Bug', 'Flying',
 'Fire', 'Water', 'Rock', 'Ground', 'Poison', 'Fighting', 'Electric',
 'Ghost', 'Steel'])

onehot_encoded = pd.get_dummies(serie)

# Mostrar el resultado
display(onehot_encoded)

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [ ]:
correlation = pokemon['Hypothesis_Total'].corr(pokemon['Total'])
print("Correlation:", correlation)

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [ ]:
# your code here